@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
  font-family: "Raleway", sans-serif;

  color: #ffffff;
}

.background-image {
  background: url(../IMG/weatherappbackground.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

h1 {
  font-size: 100px;
}

#city {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 65px;
}

p {
  text-align: center;
  margin: auto 0;
  font-size: 35px;
}

form {
  padding: 20px;
}

.search-bar {
  border-radius: 12px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: white;
}

a:hover {
  cursor: pointer;
  color: purple;
}

.todays-weather {
  list-style: none;
  font-size: 25px;
}

.forecast-day {
  font-size: 20px;
}

.temp {
  font-size: 35px;
}

.forecast-day,
.temp {
  color: white;
  text-align: center;
}

.weather-icon {
  text-align: center;
  font-size: 50px;
}

.box-weather-conditions {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 60%;
  height: 150px;
}

.box-forecast {
  background-color: rgba(255, 255, 255, 0.3);
  height: 180px;
}

.future-forecast {
  padding: 20px;
}

#temp,
.fa-cloud {
  font-size: 75px;
  padding: 15px;
}
